# Binaries
redmine-tui
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Config file
.redmine-tui.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
